@import url("./about.css");

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 1;
  align-items: center;
}

.team-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.projects-done {
  width: 100%;
  padding: 100px 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Projects-div {
  /* background-color: red; */
  width: 100%;
  padding: 0 12px;
  margin: 0;
  margin-top: 50px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.pro-col {
  height: 100%;
  /* width: 100%; */
  list-style: circle;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}
.pro-col li::marker {
  content: "➤";
  font-size: 14px;
  color: #0092ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro-col h2 {
  width: 100%;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
}

.pro-col li {
  padding: 10px 12px;
}

.Projects-list li::marker {
  content: "➤";
  color: #0092ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pro-col li a {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #1c2d38;
  cursor: pointer;
  padding: 5px 0;
  background-image: linear-gradient(to right, #0092ff, #0092ff 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.pro-col li a::before {
  content: "";
  background: #0092ff;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.pro-col li a:hover {
  background-position: 0;
}
.pro-col li a:hover::before {
  width: 100%;
}

@media screen and (max-width: 1248px) {
  .project-title {
    width: 500px;
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  .project-title {
    width: 300px;
    align-self: center;
  }
  .Projects-div {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .pro-col {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
